# https://www.howtogeek.com/devops/how-to-set-up-gitignore-as-a-whitelist/
# https://a64.in/git-do-not-ignore/
/*

# Whitelist files
!.gitignore
!README.md
!.gitconfig
!.gitconfig-work
!.p10k.zsh
!.zshrc

# Whitelist folders

.config/*
!.config/
.config/nvim/*
.config/niri/*
.config/hypr/*
.config/tofi/*
.config/mako/*
.config/cava/*
.config/godot/*
.config/kitty/*
.config/waybar/*
.config/foot/*
!.config/nvim/
!.config/nvim/**
!.config/hypr/
!.config/hypr/**
!.config/tofi/
!.config/tofi/**
!.config/mako/
!.config/mako/**
!.config/cava/
!.config/cava/**
!.config/godot/
!.config/godot/**
!.config/kitty/
!.config/kitty/**
!.config/niri/
!.config/niri/**
!.config/waybar/
!.config/waybar/**
.config/foot/
.config/foot/**
